db_creds.yaml
*.yaml
card_details.pdf
clean_users_table.csv
clean_orders_data.csv
cleaned_store_data.csv
date_details.json
date_events
db_creds_local.yaml
db_creds_RDS.yaml
extract_user_data.py
local_products.csv
oop.py
orders_table.csv
raw_product_df
ryan.yaml
sandbox_test.ipynb
sandbox.ipynb
sandbox2.ipynb
sandbox3.ipynb
sandbox4.ipynb
sandbox5.ipynb
sandbox6.ipynb
upload_to_db.py
users_table.csv